<p dir="ltr" style="text-align:center"><strong>League of Legends: ARAM Fun Compo - Rulebook FoM 26.0</strong></p>

<p><a name="navigation"></a></p>

<p><strong>Quick Navigation</strong></p>

<hr />
<p>&nbsp;</p>

<ul>
	<li><a href="#general">1 - General Rules</a></li>
	<li><a href="#competition">2 - Competition Rules</a>
	<ul>
		<li><a href="#overview">2.1 - Overview</a></li>
		<li><a href="#signin">2.2 - Sign In</a></li>
		<li><a href="#rules">2.3 - Compo Rules</a></li>
		<li><a href="#structure">2.4 - Compo Structure</a></li>
	</ul>
	</li>
	<li><a href="#admin">3 - Admin Details</a></li>
</ul>

<p>&nbsp;</p>

<p><br />
<a name="general"></a></p>

<p><strong>1. General rules</strong></p>

<hr />
<ul>
	<li>Be sure to read the <a href="http://www.fom.be/contents/view/general-competition-rules"><strong>general rulebook</strong></a>. These are the main rules of Frag-o-Matic and should always be respected.</li>
</ul>

<p style="text-align:right"><a href="#navigation" style="color:#17587f;">Back to top</a></p>

<p><a name="competition"></a></p>

<p><strong>2 - Competition rules</strong></p>

<hr />
<p><a name="overview"></a></p>

<p><strong>2.1 - Compo Overview</strong></p>

<ul>
	<li>Title: League of Legends 5v5</li>
	<li>Size: Fun</li>
	<li>Max teams: 32</li>
	<li>Gametype: 5v5</li>
</ul>

<p><br />
<a name="signin"></a></p>

<p><strong>2.2 - Sign In</strong></p>

<ul>
	<li>Sign in will close saturday at 10:00.</li>
	<li>Tournament will start saturday at 11:00</li>
	<li>Every team must add all of their League of Legends summoner names and seat numbers to the team description!</li>
	<li><strong>Every player must add their League of Legends summoner name, seat number and clan tag to the team description!</strong></li>
	<li><strong>Additional every contestant must join our <a href="https://discord.gg/BmAubhk">Discord Server</a> and change their nickname to their nickname on the FOM website.</strong></li>
	<li>There may only be 7 players in a team. Only the registered player can play for the team.</li>
	<li>5 main players and 2 backup players.</li>
</ul>

<p><br />
<a name="rules"></a></p>

<p><strong>2.3 - Compo Rules</strong></p>

<ul>
	<li>Game Settings:
	<ul>
		<li>Map: Howling Abyss</li>
		<li>Team size: 5</li>
		<li>Allow Spectators: All</li>
		<li>Game Type: All Random</li>
		<li>Name: FoM ARAM team a vs team b</li>
		<li>Password: fom</li>
	</ul>
	</li>
	<li>Regame:
	<ul>
		<li>A regame is not allowed unless there are technical difficulties and the compo admin agrees it is needed to play a fair and balanced match.</li>
		<li>Everyone plays the same champion and uses the same summoner spells.</li>
		<li>If a player cannot connect to a game before it has started because of a bug, the game has to be restarted. A screenshot of the bug is required!</li>
	</ul>
	</li>
	<li>Schedule Problems:
	<ul>
		<li>The schedule must be followed. If a game hasn&rsquo;t started within 15 minutes of the scheduled match time, the admin may decide to forfeit the game. If both teams are absent, both teams may be forced to forfeit their game.</li>
		<li>To avoid forfeiting when the opposing team doesn&rsquo;t show. Take a screenshot of your entire team in a game lobby with the correct name and password and if possible invites to the opposing team. Contact the compo admin as soon as you have this screenshot.</li>
	</ul>
	</li>
	<li>Spectators:
	<ul>
		<li>Spectators are allowed only if both teams agree to it.</li>
		<li>Only invite spectators you trust. Once a game has started protests against spectators will no longer be allowed.</li>
		<li>Admins or people assigned by an admin, like shoutcasters, are allowed to spectate any match. It can&rsquo;t be refused to invite an admin or someone assigned by an admin.</li>
	</ul>
	</li>
	<li>Missing Player:
	<ul>
		<li>You need 5 players on a team to play a match.</li>
		<li>If a team is missing a player, the admin may decide to forfeit the game.</li>
	</ul>
	</li>
	<li>Cheats:
	<ul>
		<li>Any actions, that results in an unfair advantage, are illegal.</li>
		<li>This includes bug abuse of any kind.</li>
	</ul>
	</li>
	<li>Picking Sides:
	<ul>
		<li>The higher seeded team chooses which side they play.</li>
		<li>if this is unclear, please contact an admin.</li>
	</ul>
	</li>
	<li>Win Conditions:
	<ul>
		<li>A team wins a game by destroying the opposing Nexus or forcing the other team to surrender.</li>
		<li>Both teams are required to take a screenshot of the after game lobby.</li>
		<li>Keep this screenshot saved on your computer during the tournament.</li>
	</ul>
	</li>
	<li>Contacting the Compo Admin:
	<ul>
		<li><strong>Ask questions in the LoL channel on our Discord server.</strong></li>
		<li>You can contact the admin in game via their summoner name listed below.</li>
		<li>If you can&#39;t contact the admin online, visit the compo desk.</li>
	</ul>
	</li>
</ul>

<p><a name="structure"></a></p>

<p><strong>2.4 - Compo Structure</strong></p>

<ul>
	<li>Brackets: Single Elimination</li>
	<li>Grand Final: Best of 3</li>
</ul>

<p style="text-align:right"><a href="#navigation" style="color:#17587f;">Back to top</a></p>

<p><a name="admin"></a></p>

<p><strong>3 - Admin Details</strong></p>

<hr />
<ul>
	<li>Discord:<br />
	<a href="https://discord.gg/BmAubhk">https://discord.gg/BmAubhk</a><br />
	<strong>This will be our main channel for communication. Please join it.</strong></li>
	<li>Name: Marlon (The_Blackguarde)</li>
	<li>Contact: <a href="mailto:The_Blackguarde@fom.be">The_Blackguarde@fom.be</a></li>
	<li>In Game: TheBlackguarde</li>
</ul>

<p style="text-align:right"><a href="#navigation" style="color:#17587f;">Back to top</a></p>

<p><small>The admin is allowed to change these rules at any time without any notification.<br />
The admin is allowed to overrule the rulebook. </small></p>
