<p dir="ltr" style="text-align:center"><strong>League of Legends: 5v5 ARAM Compo - Schedule FoM 26.0</strong></p>

<p>&nbsp;</p>

<p><strong>Brackets:</strong></p>

<p>&nbsp;</p>

<p>Round 1: Saturday 13:00 &ndash; 15:00</p>

<p>Round 2: Saturday 15:00 &ndash; 17:00</p>

<p>Round 3: Saturday 17:00 &ndash; 19:00</p>

<p>Round 4: Saturday 19:00 &ndash; 21:00</p>

<p>&nbsp;</p>

<p><strong>Final:</strong> Sunday 13:00</p>

<p><small>Teams not on schedule can be forced to forfeit by the compo admin.</small></p>
