<p dir="ltr" style="text-align:center"><strong>League of Legends: 5v5 ARAM Compo - Schedule FoM 26.0</strong></p>

<p>&nbsp;</p>

<p><strong>Brackets:</strong></p>

<p><strong>Upper brackets</strong><p>

<p>Round 1: Saturday 11:00 &ndash; 12:00</p>

<p>Round 2: Saturday 13:00 &ndash; 14:00</p>

<p>Round 3: Saturday 15:00 &ndash; 16:00</p>

<p>Round 4: Saturday 17:00 &ndash; 18:00</p>

<p>Round 5/Upper Bracket Final: Saturday 19:00 &ndash; 20:00</p>

<p><strong>Lower brackets</strong><p>

<p>Round 1: Saturday 14:00 &ndash; 15:00</p>

<p>Round 2: Saturday 16:00 &ndash; 17:00</p>

<p>Round 3: Saturday 18:00 &ndash; 19:00</p>

<p>Round 4: Saturday 20:00 &ndash; 21:00</p>

<p>Round 5: Saturday 22:00 &ndash; 23:00</p>

<p>Round 6: Sunday 00:00 &ndash; 01:00</p>

<p>Round 7: Sunday 01:00 &ndash; Sunday 02:00</p>

<p>Round 8/Lower Bracket Final: Sunday 11:00 &ndash; Sunday 13:00</p>

<p><strong>Final:</strong> Sunday 13:00</p>

<p><small>Teams not on schedule can be forced to forfeit by the compo admin.</small></p>
