<p dir="ltr"><strong>1. General rules</strong><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Be sure to read the general rulebook. These are the main rules of Frag-o-Matic and should always be respected.</span></p>

<p dir="ltr">&nbsp;</p>

<p dir="ltr"><strong>2 - Competition rules</strong><br />
<strong>2.1 - Compo Overview</strong><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Title: Rocket League 2v2</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Size: Normal</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Max teams: 64</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Gametype: 2v2</span><br />
&nbsp;</p>

<p dir="ltr"><strong>2.2 - Sign In</strong><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Sign in will close FRIDAY&nbsp;at 21:00.</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Tournament will start Friday&nbsp;at 22:30</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Every team must add all of Steam accountnames and seat numbers to the team description!</span></p>

<p dir="ltr"><strong>2.3 - Compo Rules</strong><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Game Settings:</span></p>

<ul dir="ltr">
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Map: DFH Stadium</span></li>
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Team size: 2</span></li>
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Allow Spectators: On full permission of both teams</span></li>
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Game Type: Double Elimination&nbsp;</span></li>
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Name: Team a vs team b. ex: Ponyrun vs loco123</span></li>
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Password: fom</span><br />
	&nbsp;</li>
</ul>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Disconnects / Regame:</span></p>

<ul dir="ltr">
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">If a player disconnects or announce an issue before the first 30 seconds in the game and while there has no goal scored yet. The game has to be restarted. In any other situation the game continues.</span></li>
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Abuse of the pause function in any way, may lead to a forfeit.</span></li>
</ul>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Schedule Problems:</span></p>

<ul dir="ltr">
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">The schedule must be followed. If a game hasn&rsquo;t started within 15 minutes of the scheduled match time, the admin may decide to forfeit the game. If both teams are absent, both teams may be forced to forfeit their game.</span></li>
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">To avoid forfeiting when the opposing team doesn&rsquo;t show. Take a screenshot of your entire team in a game lobby with the correct name and password and if possible invites to the opposing team. Contact the compo admin as soon as you have this screenshot.</span></li>
</ul>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Spectators:</span></p>

<ul dir="ltr">
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Spectators are allowed only if both teams agree to it.</span></li>
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Only invite spectators you trust. Once a game has started protests against spectators will no longer be allowed.</span></li>
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Admins or people assigned by an admin, like shoutcasters, are allowed to spectate any match. It can&rsquo;t be refused to invite an admin or someone assigned by an admin.</span></li>
</ul>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Missing Player:</span></p>

<ul dir="ltr">
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">You need 2 players on a team to play a match.</span></li>
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">If a team is missing a player, the admin may decide to forfeit the game.</span></li>
</ul>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Cheats:</span></p>

<ul dir="ltr">
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Any actions, that results in an unfair advantage, are illegal.</span></li>
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">This includes bug abuse of any kind.</span></li>
</ul>

<p dir="ltr"><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Picking Sides:</span></p>

<ul dir="ltr">
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">The higher seeded team chooses which side they play.<br />
	<span style="background-color:transparent; font-size:9.5pt">if this is unclear, please contact an admin.</span></span></li>
</ul>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Win Conditions:</span></p>

<ul dir="ltr">
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">A team wins a game by scoring more goals than his opponent.&nbsp;</span></li>
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Both teams are required to take a screenshot of the after game lobby.</span></li>
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Keep this screenshot saved on your computer during the tournament.</span></li>
</ul>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Contacting the Compo Admin:</span></p>

<ul dir="ltr">
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">You can contact the admin via discord <strong>tba</strong></span></li>
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">If you can&#39;t contact the admin online, visit the compo desk.</span></li>
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Discord:&nbsp;</span>https://discord.gg/zyxzvxN</li>
</ul>

<p dir="ltr"><strong>2.4 - Compo Structure</strong><br />
<span style="font-size:12.6667px">Double eliminations</span></p>

<ul dir="ltr">
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Poules: BO3</span></li>
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Upper Bracket: BO5&nbsp; &nbsp;</span>
	<ul>
		<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Upper Bracket Finals: BO7</span></li>
	</ul>
	</li>
	<li>Lower Bracket: BO3
	<ul>
		<li>Lower Bracket Semi-Finals: BO5</li>
		<li>Lower Bracket Finals: BO7</li>
	</ul>
	</li>
	<li>Grand Finals: BO7
	<ul>
		<li><span style="font-family:verdana; font-size:12.6667px">The finalist coming from the winner brackets is granted 1-0 headstart</span></li>
	</ul>
	</li>
</ul>

<p dir="ltr">&nbsp;</p>

<p dir="ltr"><strong>3 - Admin Details</strong></p>

<ul style="list-style-type:square">
	<li dir="ltr">
	<p dir="ltr"><strong>tba</strong></p>
	</li>
</ul>

<p dir="ltr"><br />
&nbsp;</p>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">The admin is allowed to change these rules at any time without any notification.</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">The admin is allowed to overrule the rulebook.</span></p>

