<p dir="ltr" style="text-align:center"><strong>League of Legends: TFT Compo - Rulebook FoM 26.0</strong></p>

<p><a name="navigation"></a></p>

<p><strong>Quick Navigation</strong></p>

<hr />
<p>&nbsp;</p>

<ul>
	<li><a href="#general">1 - General Rules</a></li>
	<li><a href="#competition">2 - Competition Rules</a>
	<ul>
		<li><a href="#overview">2.1 - Overview</a></li>
		<li><a href="#signin">2.2 - Sign In</a></li>
		<li><a href="#rules">2.3 - Compo Rules</a></li>
		<li><a href="#structure">2.4 - Compo Structure</a></li>
		<li><a href="#finals">2.5 - Finals</a></li>
	</ul>
	</li>
	<li><a href="#admin">3 - Admin Details</a></li>
</ul>

<p>&nbsp;</p>

<p><br />
<a name="general"></a></p>

<p><strong>1. General rules</strong></p>

<hr />
<ul>
	<li>Be sure to read the <a href="http://www.fom.be/contents/view/general-competition-rules"><strong>general rulebook</strong></a>. These are the main rules of Frag-o-Matic and should always be respected.</li>
</ul>

<p style="text-align:right"><a href="#navigation" style="color:#17587f;">Back to top</a></p>

<p><a name="competition"></a></p>

<p><strong>2 - Competition rules</strong></p>

<hr />
<p><a name="overview"></a></p>

<p><strong>2.1 - Compo Overview</strong></p>

<ul>
	<li>Title: League of Legends TFT</li>
	<li>Size: Fast</li>
	<li>Max teams: 64</li>
	<li>Game type: 1 vs All</li>
</ul>

<p><br />
<a name="signin"></a></p>

<p><strong>2.2 - Sign In</strong></p>

<ul>
	<li>Sign in will close:&nbsp;Saturday at 14:00</li>
	<li>Tournament will start:&nbsp;Saturday&nbsp;at 15:00</li>
	<li><strong>Every player must add their League of Legends summoner name, seat number and clan tag to the team description!</strong></li>
	<li><strong>Additional every contestant must join our <a href="https://discord.gg/BmAubhk">Discord Server</a> and change their nickname to their nickname on the FOM website.</strong></li>
	<li>There can only be one player per team.</li>
</ul>

<p><br />
<a name="rules"></a></p>

<p><strong>2.3 - Compo Rules</strong></p>

<ul>
	<li>Game Settings:
	<ul>
		<li>Game Type: Normal</li>
		<li>The player with the highest seed (top of stage) creates the lobby</li>
	</ul>
	</li>
	<li>Point distribution:
	<ul>
		<li>If you end up first, you get 10 points. 2nd = 8, 3rd = 6, 4th = 5, 5th = 4, 6th = 3, 7th = 2, the last player gets one point.</li>
		<li>If there would be an incomplete lobby. Points will still follow the game flow. This meaning that if a random gets first place, the person in second still gets the points of being second.</li>
		<li>Position is based on the position in the post-game lobby.</li>
	</ul>
	</li>
	<li>Schedule Problems:
	<ul>
		<li>teams</li>
		<li>The schedule must be followed. A game has to start within 15 minutes of the scheduled match time. People that fail to check-in are automatically forfeited.</li>
		<li>Take a screenshot of everyone in the game lobby with the correct name and password and if possible invites to the opposing players. Contact the compo admin as soon as you have this screenshot.</li>
	</ul>
	</li>
	<li>Spectators:
	<ul>
		<li>Spectators are allowed only if both teams agree to it.</li>
		<li>Only invite spectators you trust. Once a game has started protests against spectators will no longer be allowed.</li>
		<li>Admins or people assigned by an admin, like shout casters, are allowed to spectate any match. It can&rsquo;t be refused to invite an admin or someone assigned by an admin.</li>
	</ul>
	</li>
	<li>Cheats:
	<ul>
		<li>Any actions, that results in an unfair advantage, are illegal.</li>
		<li>This includes bug abuse of any kind.</li>
	</ul>
	</li>
	<li>Post game:
	<ul>
		<li>Take a screenshot of the lobby. Be sure to make it a full screen-screenshot so the time on your desktop is included.</li>
		<li>Screenshot are mandatory if you finish first/second and have to be send to one of the compo admins on Discord.</li>
	</ul>
	</li>
	<li>Contacting the Compo Admin:
	<ul>
		<li><strong>Ask questions in the LoL channel on our Discord server.</strong></li>
		<li>You can contact the admin in game via their summoner name listed below.</li>
		<li>If you can&#39;t contact the admin online, visit the compo desk.</li>
	</ul>
	</li>
</ul>

<p><a name="structure"></a></p>

<p><strong>2.4 - Compo Structure</strong></p>

<ul>
	<li>Groupstages: FFA (3 rounds) (64 players)</li>
	<li>Groupstages: FFA (3 rounds) (16 players)</li>
	<li>Finals: FFA (3 rounds) (8 players)</li>
</ul>

<p style="text-align:right"><a href="#navigation" style="color:#17587f;">Back to top</a></p>

<p><a name="finals"></a></p>

<p><strong>2.5 - Finals</strong></p>

<p>You play lobbys till someone with 21 points or more get a first place and wins the tournament . When that happened the finals is over and the ranking wil be determined with the total points you got . In case of a tiebreakers we use the last game as tiebreaker</p>

<p>&nbsp;</p>

<p style="text-align:right"><a href="#navigation" style="color:#17587f;">Back to top</a></p>

<p><a name="admin"></a></p>

<p><strong>3 - Admin Details</strong></p>

<hr />
<p><strong>Discord will be our main channel for communication. Please join it.</strong> <a href="https://discord.gg/BmAubhk">https://discord.gg/BmAubhk</a></p>

<ul>
	<li>Contact:
	<ul>
		<li>Mail: <a href="mailto:bouncyknight@fom.be">bouncyknight@fom.be</a></li>
		<li>In Game: NLbouncyknight</li>
		<li>Discord: NLbouncyknight#253734</li>
	</ul>
	</li>
</ul>
